/* 	James Durtka
	CSCI 305
	Spring 2017
	HTML Lab */

body {
	background-color: lightblue;
}

#doc-body {
	float: left;
	padding-left: 1in;
	padding-right: 1in;
	padding-top: 0in;
	padding-bottom: 0.5in;
	width: 8in;
}

p.q {
	text-indent: 0.1in;
	font-style: oblique;
}
p.a {
	text-indent: 0.3in;
}